$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.habit-list {
  font-size: 14px !important;

  .alarming {
    color: #ff0000;
    font-weight: bold;
  }

  .hand-writing {
    font-family: cursive
  }
  
  .spacing {
    &.bottom-only {
      margin-bottom: 10px;
    }
    &.remove-left {
      margin-left: 0px;
    }
    &.remove-right {
      margin-right: 0px;
    }
  }

  .streaking {
    color: #00ff00;
  }

  .vertical-center-align {
    display: flex;
    align-items: center;
    .item {
      margin: auto;
    }
  }

  .panel-default > .panel-heading {
    color: rgb(255,255,255);
    background-color: rgb(121,134,203);
  }

  .warn {
    svg{
      fill: rgb(255,87,34);
    }
  }
}

.white-icon {
  svg{
    fill: rgb(255,255,255);
  }
}

.fab-icon-position {
  position: fixed;
  right: 10px;
}

.green-icon {
  svg{
    fill: #0F9D58;
  }
}

.center-text {
  text-align: center;
}
