      
<md-fab-speed-dial md-open="false" md-direction="bottom" class="md-scale fab-icon-position">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn" ng-click="main.openAddHabitModal()" ng-mouseenter="main.showPencil = !main.showPencil" ng-mouseleave="main.showPencil = !main.showPencil">
      <md-icon class="white-icon" ng-hide="main.showPencil" md-svg-src="images/add.svg"></md-icon>
      <md-icon class="white-icon" ng-show="main.showPencil" md-svg-src="images/create.svg"></md-icon>
      <md-tooltip md-direction="left">Create your habit</md-tooltip>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>

  <div class="container center-text" ng-if="main.habits.length === 0">
    <h3>Your Habits</h3>
    <div>When you create habits, you will see your habits here</div>
    <md-button class="md-raised md-primary" ng-click="main.openAddHabitModal()">Create Habit</md-button>
  </div>

<div class="habit-list">
  <div class="row" ng-if="main.habits.length > 0">
    <div class="col-xs-1 text-center">
      <h4>Today</h4>
    </div>
    <div class="col-xs-3 text-center">
      <h4>Name</h4>
    </div>
    <div class="col-xs-2 text-center">
      <h4>Streak</h4>
    </div>
    <div class="col-xs-4 text-center">
      <h4>Time</h4>
    </div>
    <div class="col-xs-2 text-center">
      <h4>Actions</h4>
    </div>
  </div>

  <div ng-repeat="habit in main.habits" class="spacing bottom-only">
  <uib-accordion>
  <uib-accordion-group is-open="true">
  <uib-accordion-heading>
  <div class="row vertical-center-align remove-left remove-right">
    <div class="col-xs-1 text-center">
      <span class="md-hue-2">
        <md-icon class="white-icon" md-svg-src="images/done.svg" ng-if="habit.current"></md-icon>
        <md-icon class="white-icon" md-svg-src="images/remove.svg" ng-if="!habit.current"></md-icon>
      </span>
      <md-tooltip md-direction="left">{{main.toolTipTodayText(habit)}}</md-tooltip>
    </div>
    <div class="col-xs-3 text-center">
      <span ng-bind="habit.name" contenteditable class="habit-item hand-writing" ng-model="habit.name"></span>
      <md-tooltip md-direction="top">click to edit name of habit</md-tooltip>
    </div>
    <div class="col-xs-2 text-center">
      <span id="streak" ng-bind="habit.streak"></span>
      <md-tooltip md-direction="top">{{main.toolTipStreakText(habit)}}</md-tooltip>
    </div>
    <div class="col-xs-4 text-center">
       <span ng-show="habit.state === main.habitState.CREATED">Created on {{ habit.created | amDateFormat: 'Do MMMM YYYY'}}</span>
      <span ng-show="habit.state === main.habitState.STARTED">started <span am-time-ago="habit.status.started"></span></span>
      <span ng-show="habit.state === main.habitState.FINISHED">{{ habit.status.timeDifference}}</span>
    </div>
    <div class="col-xs-2 text-center">
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised" ng-click="main.beginHabit($index)" ng-show="habit.state === main.habitState.CREATED">
        Start
        <md-tooltip md-direction="top">start your habit today!</md-tooltip>
      </md-button>
      <md-button class="md-raised" ng-click="main.finishHabit($index)" ng-show="habit.state === main.habitState.STARTED">
        Finish
        <md-tooltip md-direction="top">yeah! finish habit your habit</md-tooltip>
      </md-button>

      </section>
    </div>
  </div>
  </uib-accordion-heading>
  <div class="vertical-center-align">
    <div class="col-xs-1 item" ng-repeat="streakHabit in habit.lastWeekStreak track by $index">
      <span>
        <md-icon md-svg-src="images/done.svg" class="green-icon" ng-if="streakHabit"></md-icon>
        <md-icon md-svg-src="images/remove.svg" ng-if="!! + !streakHabit && habit.lastWeekStreak.length - 1 === $index"></md-icon>
        <md-icon md-svg-src="images/clear.svg" ng-if="!! + !streakHabit && habit.lastWeekStreak.length - 1 !== $index"></md-icon>
        <md-tooltip md-direction="top">{{main.toolTipLastWeekText(streakHabit, habit.lastWeekStreak.length, $index)}}</md-tooltip>
      </span>
    </div>
    <div class="item">
      <md-button class="md-icon-button" ng-click="main.removeHabit($index)">
        <md-icon md-svg-src="images/delete.svg" class="warn"></md-icon>
        <md-tooltip md-direction="right">please don't remove your habit</md-tooltip>
      </md-button>
    </div>
  </div>
  
  </uib-accordion-group>
  </uib-accordion>
  </div>
</div>

<script type="text/ng-template" id="addHabitForm.html">
  <div class="modal-body">
    <md-content layout-padding>
      <form name='habitAddForm' ng-submit="addHabit(habitName)">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Habit Name</label>
            <input ng-model="habitName" required ui-validate="'notDuplicateHabit($value)'">
          </md-input-container>
          <md-input-container>
            <md-button class="md-raised md-primary" ng-click="addHabit(habitName)" ng-disabled="habitAddForm.$invalid">Add</md-button>
          </md-input-container>
        </div>
      </form>
    </md-content>
  </div>
</script>

