<div class="row">
  <form name='habitAddForm'>
  <div class="col-xs-4">
  <div class="input-group">
    <input type="text" class="form-control" ng-model="main.habitName" placeholder="enter your habit" required/>
    <span class="input-group-btn">
      <button class="btn btn-primary" ng-click="main.addHabit(main.habitName)" ng-disabled="habitAddForm.$invalid">Add</button>
    </span>
  </div>
  </div>
  </form>
  <div class="col-xs-offset-3 col-xs-5">
    Today: <span ng-bind="main.today"></span>
  </div>
</div>

<div class="habit-list">
  <div class="row">
    <div class="col-xs-1 text-center">
      <h4>Today</h4>
    </div>
    <div class="col-xs-4 text-center">
      <h4>Name</h4>
    </div>
    <div class="col-xs-2 text-center">
      <h4>Streak</h4>
    </div>
    <div class="col-xs-3 text-center">
      <h4>Time</h4>
    </div>
    <div class="col-xs-2 text-center">
      <h4>Actions</h4>
    </div>
  </div>
  <div ng-repeat="habit in main.habits" class="spacing bottom-only">
  <uib-accordion>
  <uib-accordion-group is-open="true">
  <uib-accordion-heading>
  <div class="row vertical-center-align remove-left remove-right">
    <div class="col-xs-1 text-center">
      <span class="glyphicon" ng-class="{alarming: !habit.current, 'glyphicon-minus': !habit.current, streaking: habit.current, 'glyphicon-ok': habit.current}"></span>
    </div>
    <div class="col-xs-4 text-center">
      <span ng-bind="habit.name" contenteditable class="habit-item hand-writing" ng-model="habit.name"></span>
    </div>
    <div class="col-xs-2 text-center">
      <span id="streak" ng-bind="habit.streak" ng-class="{alarming: habit.streak === 0, streaking: habit.streak !== 0}"></span>
    </div>
    <div class="col-xs-3 text-center">
       <span ng-show="habit.state === main.habitState.CREATED">Created on {{ habit.status.created | amDateFormat: 'Do MMMM YYYY'}}</span>
      <span ng-show="habit.state === main.habitState.STARTED">started <span am-time-ago="habit.status.started"></span></span>
      <span ng-show="habit.state === main.habitState.FINISHED">{{ habit.status.timeDifference}}</span>
    </div>
    <div class="col-xs-2 text-center">
      <div class="btn-group btn-group-sm">
      <button class="btn btn-success" ng-click="main.beginHabit($index)" ng-show="habit.state === main.habitState.CREATED">Start</button>
      <button class="btn btn-primary" ng-click="main.finishHabit($index)" ng-show="habit.state === main.habitState.STARTED">Finish</button>
      <button class="btn btn-danger" ng-click="main.removeHabit($index)"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
    </div>
  </div>
  </uib-accordion-heading>
  <div class="row">
    <div class="col-xs-4 text-center">
      <span>Streak Past Week </span>
    </div>
    <div class="col-xs-offset-7 col-xs-1">
      <span class="glyphicon" ng-class="{alarming: !habit.current, 'glyphicon-minus': !habit.current, streaking: habit.current, 'glyphicon-ok': habit.current}"></span>
    </div>
  </div>
  
  </uib-accordion-group>
  </div>
  </uib-accordion>
  </div>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

