<div class="row">
  <form name='habitAddForm'>
  <div class="col-xs-4">
  <div class="input-group">
    <input type="text" class="form-control" ng-model="main.habitName" placeholder="enter your habit" required/>
    <span class="input-group-btn">
      <button class="btn btn-primary" ng-click="main.addHabit(main.habitName)" ng-disabled="habitAddForm.$invalid">Add</button>
    </span>
  </div>
  </div>
  </form>
</div>

<div class="habit-list">
  <div class="row">
    <div class="col-xs-4 text-center">
      <h4>Name</h4>
    </div>
    <div class="col-xs-2 text-center">
      <h4>Streak</h4>
    </div>
    <div class="col-xs-4 text-center">
      <h4>Status</h4>
    </div>
    <div class="col-xs-2 text-center">
      <h4>Actions</h4>
    </div>
  </div>
  <div class="row spacing bottom-only" ng-repeat="habit in main.habits">
    <div class="col-xs-4 text-center">
      <span ng-bind="habit.name" contenteditable class="habit-item" ng-model="habit.name"></span>
    </div>
    <div class="col-xs-2 text-center">
      <span ng-bind="habit.streak" ng-class="{alarming: habit.streak === 0, streaking: habit.streak !== 0}"></span>
    </div>
    <div class="col-xs-4 text-center">
       <span ng-hide="habit.status.started">Created on {{ habit.status.created | amDateFormat: 'Do MMMM YYYY'}}</span>
      <span ng-show="habit.status.started">started <span am-time-ago="habit.status.started"></span></span>
    </div>
    <div class="col-xs-2 text-center">
      <div class="btn-group btn-group-sm">
      <button class="btn btn-success" ng-click="main.beginHabit($index)" ng-show="habit.streak === 0">Start</button>
      <button class="btn btn-danger" ng-click="main.removeHabit($index)"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

